*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  min-height: 100%;
  min-height: 100vh;
  background-color: #eff1f4 !important;
}

body {
  font: 16px 'Roboto', Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #eff1f4 !important;
}

.app {
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  
}
.bkg {
  background-image: url(../src/crypto-glossary.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
  background-size: cover;
}
.ae-color-lightblue{
  background-color: #5a85d7 !important;
}
footer{
  background-color:white;
}

/*SIDEBAR*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}